.myHeader {
  display: flex;
  height: 500px;
  background-color: #d89820;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/asfalt-dark.png");
  padding-top: 50px;
  padding-left: 25x; 
  padding-right: 25px;
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 20px;
  width: 50%;
  z-index:100;
}

.splash {
  padding-left: 20px;
}