@media screen and (max-width: 768px) {
  nav {
    height: 500px;
    color: #FFFFFF;
    background-color: #d89820;
    background-color: none;
    font-family: 'Bungee', cursive;
    background-image: url("/images/asfalt-dark.png");
    padding: 1.5em;
    padding-top: 50px;
    font-size: 30px;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }
  .double-arrow:hover{ 
    color: #4056A1;  
  }   
}


@media screen and (max-width: 768px) {
  .myHeader { display: none;  }  
  .nav-header-splash{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    
  }
  .navHeader {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  
  }

  .nav-header-user {
    /* display: flex; */
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;  
    
  }

 
  /* h2 {

  } */

  .nav { display: none; }

  main {
    width: 90%;
    background-color: #f4f1ec;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    padding-right: 50px;
    padding-top: 50vh;
  }
}

