nav { 
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  padding: 1.5em;
  font-size: 30px;
  position: fixed;
  z-index:999;
  top: 0;
  width: 100%; 
}


.navHeader {
  display: flex;
  justify-content: space-between;

}

.horizontalArrows {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.write1 {
  font-family: 'Source Sans Pro', sans-serif;
}

.double-arrow{
  display: flex;
  font-weight: 900;
  color: red;
  font-family: 'Source Sans Pro', sans-serif;
}
.double-arrow:hover {
  color: #d89820;
}
.userName {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
}


@media screen and (max-width: 768px) {
  nav {
    height: 500px;
    color: #FFFFFF;
    background-color: #d89820;
    background-color: none;
    font-family: 'Bungee', cursive;
    background-image: url("/images/asfalt-dark.png");
    padding: 1.5em;
    font-size: 30px;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%; 
    

  }
  .double-arrow:hover{ 
    color: #4056A1;  
  }   
}
