nav { 
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  padding: 1.5em;
  font-size: 36px;

}
.navHeader {
  display: flex;
  justify-content: space-between;
}

.horizontalArrows {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.write1 {
  font-family: 'Source Sans Pro', sans-serif;
}
.write2 {
  display: flex;
  color: red;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  display: flex;
  background-color: #d89820;
}

.userName {
  font-family: 'Source Sans Pro', sans-serif;
}

  
