nav { 
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  padding: 1.5em;
  font-size: 30px;

}


.navHeader {
  display: flex;
  justify-content: space-between;
}

.horizontalArrows {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.write1 {
  font-family: 'Source Sans Pro', sans-serif;
}
.write2 {
  display: flex;
  color: red;
  font-family: 'Source Sans Pro', sans-serif;
}


.myHeader {
  display: flex;
  background-color: #d89820;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("/images/asfalt-dark.png");
}

.userName {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
}

  
